html, body {
  margin: 0 auto;
  background-color: black;
}

.leaderboard {
  color: white;
}

.leaderboard-entry {
  border: 1px solid white;
}

#canvas-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#player-name {
  color: white;
  font-size: 2em;
}

#score-container {
  color: white;
  font-size: 2em;
}
